{% extends "emails/layout.html.twig" %}

{% block body %}
<row>
    <columns>
        <h1>Annulation d'atelier</h1>
        <div class='cancel workshop'>
            <img src="{{ email.image('@images/cancel-calendar.png') }}" alt="logo calendrier annulé">
        </div>
        <p>Bonjour <strong>{{ email.to[0].address }}</strong> !</p>
        <p>Le site boennologie a le regret de vous annoncer que l'atelier suivant est annulé : </p>
        <div class='booking' id='reminder'>
            <ul>
                <li>{{ workshop.theme.label }}</li>
                <ul>
            <li>{{ workshop.theme.label }}</li>
            <li class='subtitles'><img src="{{ email.image('@images/calendar.png') }}" alt="logo calendrier">le {{ workshop.dateStart|date('d-m-Y') }}</li>
            </ul>
        </div>

        <p>Nous regrettons l'annulation et vous proposerons un remboursement dans les jours à venir. </p>

        <p>Ne vous inquiétez pas, d'autres ateliers sont disponibles et nous espérons vous accueillir au plus tôt !</p>

    </columns>
  </row>

{% endblock %}